@import "../vars";
$base-width: 20%;
$base-height: 40%;

%text {
  color: #000000;
  @include font("Proza_Libre", 21px, 32px);
}

%base-cell {
  width: 100%;
  border: 1px solid #2ed7d9;
  display: flex;
  align-items: center;
}

.menu {
  width: 20%;
  margin: 3% 0 0 3%;
  height: 85%;

  &__table {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__link {
    text-decoration: none;
  }
}
