@import '../vars';

.about-team {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../../images/matrix_1.png');
    background-color: black;
    background-repeat: no-repeat;
    position: relative;

    &__list {
        position: absolute;
        top: 47px;
        right: 41px;
        margin: 0;
        list-style: none;
        width: 39%;
        height: 86%;
        border: 3px solid white;
        border-radius: 20px;

        &_title {
            margin: 0;
            color: white;
        }
    }

    &__img {
        &_cart {
            position: absolute;
            bottom: 0;
            left: 40px;
            object-fit: cover;
            // width: 100%;
        }

        &_peoples {
            position: absolute;
            bottom: 0;
            left: -36px;
        }
    }
}