.page {
    max-width: 100%;
    margin: 0 auto;
    font-family: Source Serif Pro, Arial, sans-serif;
    color: black;
    background-color: #FFFFFF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

