.main {
    min-height: 801px;
    border: red 1px solid;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.main__image-wave {
    position: absolute;
    z-index: -2;
    bottom: 0;
    width: 100%;
}

.main__image-women {
    position: absolute;
    left: 354px;
    bottom: 9px;
}

.main__content-container {
    border: darkred 1px solid;
}

.main__content {
    min-height: 736px;
    border: blue 1px solid;
}
