.header__logo {
    margin: 0;
    padding: 0;
    // width: 13%;
    max-width: 190px;
    max-height: 109px;
    cursor: pointer;
}

.header__logo:hover {
    transition: 1s ease-in;
    opacity: .6;
}
