@import "../vars";

.logo {
  justify-items: center;
  width: 37%;
  height: 100%;

  @media screen and (max-width: $base-width768) {
    width: 20%;
    height: 100%;
  }

  @media screen and (max-width: $base-width620) {
    width: 90%;
  }

  @media screen and (max-width: $base-width540) {
    width: 90%;
  }

  @media screen and (max-width: $base-width320) {
    margin-left: 53px;
    width: 164px;
    height: 35px;
  }

  &__img {
    margin-top: -10px;
    width: 100%;
    height: 100%;
    fill: black;

    @media screen and (max-width: $base-width1560) {
      margin-top: -5px;
    }

    &:hover {
      fill: blueviolet;
      transform: scale(1.05);
    }

    &_big-sized {
      @media screen and (max-width: $base-width960) {
        margin-left: 5%;
      }

      @media screen and (max-width: $base-width620) {
        display: none;
      }
    }

    &_small-sized {
      margin-top: 0;
      width: 95%;

      @media screen and (min-width: $base-width620) {
        display: none;
      }

      @media screen and (max-width: $base-width540) {
        width: 90%;
      }

      @media screen and (max-width: $base-width320) {
        width: 100%;
        margin-top: 2px;
      }
  }
  }
}


