.header__logo {
    margin: 0;
    padding: 0;
    min-width: 190px;
    min-height: 109px;
    cursor: pointer;
    border: coral 1px solid;
}

.header__logo:hover {
    transition: 1s ease-in;
    opacity: .6;
}
