@import "../vars";
$base-width320: 320px;

%text {
  color: #000000;
  @include font("Proza_Libre", 21px, 29px);

  @media screen and (max-width: 620px) {
    @include font("Proza_Libre", 15px, 20px);
  }

  @media screen and (max-width: 480px) {
    @include font("Proza_Libre", 12px, 19px);
  }

  @media screen and (max-width: 360px) {
    @include font("Proza_Libre", 10px, 19px);
  }
}

.disciplin__cell {
  margin: 0;
  padding-left: 10%;

  background-color: #eaf4f4;
  @include flex(row, flex-start, center);
  max-width: 100%;
  height: 12.5%;
  box-shadow: inset 0 0 0 1px #2ed7d9;
  text-decoration: none;

  @media screen and (max-width: 620px) {
    max-width: 100%;
    height: 100%;
  }
  @extend %text;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 5px #2e49d9;
  }

    //margin-left: 10%;
}
