@import "../vars";

%text {
  color: #000000;
  @include font("Proza_Libre", 21px, 29px);
}

.disciplin__table {
  margin: 0;
  background-color: #eaf4f4;
  @include flex(row, flex-start, center);
  width: 100%;
  height: 12.5%;
  box-shadow: inset 0 0 0 1px #2ed7d9;
  text-decoration: none;

  @extend %text;
  // background-color: rgba(204, 230, 228, 0.42);
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 5px #2e49d9;
  }
  span {
    margin-left: 10%;
    text-decoration: none;
  }
}
