@import "../vars";

.main-page-work {
  width: 65%;
  margin-left: 10%;
  margin-top: 1.5%;
  height: 90%;
  &__content {
    width: 80%;
    height: 82%;
    &__commercial {
      background-image: url(../../images/commertial__image.jpg);
      background-position: 5% 5%;
      background-size: cover;
      width: 95%;
      height: 14%;
      border: 1px solid #7a7a7a;
    }
    &__title {
      margin: 3% 0 0 0;
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 115%;
      border: #2ed7d9 3px solid;
      width: 95%;
      height: 5%;
      text-align: center;
      padding-top: 1%;
      padding-bottom: 1%;
    }
    &__preview {
      background-color: #fff;
      margin: 0;
      width: 95%;
      height: 73%;
      border-bottom: #2ed7d9 3px solid;
      border-left: #2ed7d9 3px solid;
      border-right: #2ed7d9 3px solid;
    }
  }
  .nav-container {
    margin: auto;
    height: 11%;
    display: flex;
    &__without-illustrations {
      display: flex;
      width: 76.5%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__page-number {
        margin-top: auto;
        width: 6%;
        height: 50%;
        border: 3px solid #2ed7d9;
        font-family: "Podkova";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        background: white;
        display: flex;
        justify-content: center;
      }
      &__btn {
        margin-top: auto;
        height: 60%;
        width: 35%;
        border: 3px solid #0066ff;
        border-radius: 10px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
        &:hover {
          background-color: rgba(204, 230, 228, 0.42);
        }
        .btn-text {
          margin: auto;
        }
      }
    }
    &__illustrations {
      margin-left: 2%;
      min-width: 7%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #0066ff;
      border-radius: 10px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      cursor: pointer;
      &:hover {
        background-color: rgba(204, 230, 228, 0.42);
      }
    }
  }
}
