@import "../vars";

.header-nav {
  margin-left: 5%;
  width: 100%;
  height: 100%;
  text-align: center;
  @include flex(row, space-around, center);

  @media screen and (max-width: $base-width1024) {
    margin: 0;
  }

  @media screen and (max-width: $base-width620) {
    margin-right: 12px;
    max-width: 28px;
  }

  @media screen and (max-width: $base-width320) {
    margin-right: 12px;
    max-width: 28px;
  }

  &__navigation {
    margin: 47px auto 40px 74px;
    padding: 0;
    box-sizing: border-box;
    height: 33px;

    @media screen and (max-width: $base-width1024) {
      margin: 0;
    }

    @media screen and (max-width: $base-width320) {
      margin: 0;
      min-width: 19px;
    }

    &_list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      @include flex(row, flex-start, center);
      gap: 27px;

      @media screen and (max-width: $base-width620) {
        display: none;
      }
    }
  }

  &__link {
    margin-left: 0;
    text-decoration: none;
    @include font('Poppins', 35px, 32px);
    color: black;
    &:hover {
      padding-bottom: 10px;
      border-bottom: black 1px solid;
    }

    @media screen and (max-width: $base-width2400) {
      @include font('Poppins', 25px, 32px);
    }

    @media screen and (max-width: $base-width1440) {
      @include font('Poppins', 21px, 32px);
    }

    @media screen and (max-width: $base-width1024) {
      @include font('Poppins', 18px, 34px);
      &:hover {
        padding-bottom: 8px;
        border-bottom: black 1px solid;
      }
    }

    @media screen and (max-width: $base-width768) {
      @include font('Poppins', 16px, 36px);
      &:hover {
        padding-bottom: 5px;
        border-bottom: black 1px solid;
      }
    }

    @media screen and (max-width: $base-width320) {
      display: none;
    }
  }

  &__menu-button {
    display: none;
    padding: 0;
    border: none;
    cursor: pointer;
    background: url(../../images/header-nav__menu-button.svg) 0 0/cover no-repeat;

    @media screen and (max-width: $base-width620) {
      display: block;
      margin-right: 50px;
      min-height: 35px;
      min-width: 35px;
    }

    @media screen and (max-width: $base-width540) {
      min-height: 35px;
      min-width: 35px;
    }

    @media screen and (max-width: $base-width320) {
      min-height: 19px;
      min-width: 19px;
    }
  }
}
