@import '../vendor/fonts/fonts.scss';

@mixin font($font-family, $size, $height) {
    font-family: $font-family;
    font-size: $size;
    font-weight: 400;
    line-height: $height;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

$base-width1350: 1350px;
$base-width1280: 1280px;
$base-width1152: 1152px;
$base-width1080: 1080px;
$base-width1024: 1024px;
$base-width860: 860px;
$base-width768: 768px;
$base-width620: 620px;
$base-width540: 540px;
$base-width486: 486px;
$base-width384: 384px;
$base-width320: 320px;
