@import '../vendor/fonts/fonts.scss';

@mixin font($font-family, $size, $height) {
    font-family: $font-family;
    font-size: $size;
    font-weight: 400;
    line-height: $height;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
