@import "../vars";

.project {
  // min-width: 100%;
  // min-height: 100vh - 13.87vh;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(
    179.62deg,
    #70f7f7 12.14%,
    #49c1c1 48.44%,
    #071111 99.68%
  );
  overflow: hidden;

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../images/backProj2.png");
    background-repeat: no-repeat;
    background-position: 95% 60%;
    background-size: 50%;

    &::before {
      content: "";
      position: absolute;
      background: url("../../images/backProj.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      background-position: 50% 60%;
      background-size: 100%;
    }
  }

  &__title {
    position: relative;
    margin: 1.61% 0 0 5.56%;
    @include font("Pacifico", 220%, 100%);
  }

  &__list {
    @include flex(column, center, center);
    gap: 5.37vh;
    margin: 2.08% auto 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    // width: 840px;
    position: relative;
    z-index: 2;
  }

  &__el {
    height: 10.42vw;
    @include flex(row, space-between, center);
    border: 1px solid #2e49d9;
    background-color: #2e49d9;
    box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 69.44vw;
    padding: 2.78% 2.08% 2.78% 1.39%;
    gap: 3.22vh;
    width: 59%;
    // width: 840px;
    z-index: 2;
    box-sizing: border-box;
  }

  &__text {
    text-align: start;
    width: 69%;
    @include font("Poppins", 132%, 1.52);
    color: white;
    margin: 0 auto 0 7.50%;
    box-sizing: border-box;
  }

  &__link {
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &_vector {
      margin-right: 1.39%;
    }
  }

  &__img {
    position: relative;
    z-index: 22;
  }

  &__circle {
    width: 6.04vw;
    height: 6.04vw;
    position: absolute;
    background-image: url("../../images/circle.svg");
    background-repeat: no-repeat;
    bottom: -1.25vw;
    left: -0.69vw;
  }
}

.glass {
  bottom: -0.14vw;
}

.vector {
  bottom: -1.74vw;
  left: -1.39vw;
}
