.footer {
    position: relative;
    bottom: 6%;
    margin-left: 28.5%;
    width: 65%;
    border-top: #7A7A7A 1px solid;
}

.footer-text {
    font-family: Proza_Libre;
    margin-top: 17px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 131.52%;
    color: #7A7A7A;

}
