@import '../vars';

.footer {
    position: absolute;
    bottom: 1.2vh;
    left: 28.14vw;

    max-width: 65.83vw;
    border-top: #7A7A7A 1px solid;
    z-index: 5;

    &__about-team {
        bottom: 3.87vh;
        left: 17.08vw;
        right: 17%;
    }
}

.footer-text {
    @include font('Proza_Libre', 14px, 1.3);
    margin-top: 1.82vh;
    margin-bottom: 0;
    color: #7A7A7A;
}
