@import "../vars";
%margin-padding {
  margin: 3% 0 0 0;
  padding: 0;
}

.main-content {
  //background: url("../../images/main__image-women.svg") 2% 37vh/550px no-repeat;
  margin-left: 5%;
  width: 65%;
  height: 100%;
  font-family: Proza_Libre;

  @media screen and (max-width: $base-width1350) {
    //background: url("../../images/main__image-women.svg") 2% 45vh/450px no-repeat;
  }

  @media screen and (max-width: $base-width1152) {
    //background: url("../../images/main__image-women.svg") 0 49vh/400px no-repeat;
  }

  @media screen and (max-width: $base-width860) {
    margin-left: 3%;
    min-width: 65%;
    //background: url("../../images/main__image-women.svg") 30% 49vh/400px no-repeat;
  }

  @media screen and (max-width: $base-width768) {
    max-width: 60%;
  }

  @media screen and (max-width: $base-width620) {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    //background: url("../../images/main__image-women.svg") 50% 98%/445px
    //  no-repeat;
  }

  @media screen and (max-width: $base-width486) {
    //background: url("../../images/main__image-women.svg") 50% 97%/390px
    //  no-repeat;
  }

  @media screen and (max-width: $base-width384) {
    //background: url("../../images/main__image-women.svg") 50% 96%/330px
    //  no-repeat;
  }

  @media screen and (max-width: $base-width320) {
    //background: url("../../images/main__image-women.svg") 50% 84%/70% no-repeat;
  }

  &__container {
    @include flex(column, space-between, flex-start);
    height: 38%;

    @media screen and (max-width: $base-width620) {
      @include flex(column, space-between, center);
    }
  }

  &__title {
    margin: 3% 0 0 0;
    padding: 0;
    @include font("Popins", 320%, 80.52%);

    @media screen and (max-width: $base-width2400) {
      @include font("Popins", 220%, 80.52%);
    }

    @media screen and (max-width: $base-width1080) {
      @include font("Popins", 180%, 80.52%);
    }

    @media screen and (max-width: $base-width860) {
      @include font("Popins", 160%, 80.52%);
    }

    @media screen and (max-width: $base-width768) {
      @include font("Popins", 140%, 80.52%);
    }

    @media screen and (max-width: $base-width620) {
      margin-top: 4%;
      @include font("Popins", 180%, 80.52%);
      font-weight: 600;
    }

    @media screen and (max-width: $base-width486) {
      @include font("Popins", 140%, 80.52%);
      font-weight: 600;
    }

    @media screen and (max-width: $base-width320) {
      margin-top: 20px;
      @include font("Popins", 80%, 80.52%);
      font-weight: 600;
    }
  }

  &__greetings {
    @extend %margin-padding;
    color: #4d4848;
    width: 100%;
    @include font("Proza_Libre", 263%, 115.52%);

    @media screen and (max-width: $base-width2400) {
      @include font("Proza_Libre", 163%, 115.52%);
    }

    @media screen and (max-width: $base-width860) {
      @include font("Proza_Libre", 125%, 115.52%);
    }

    @media screen and (max-width: $base-width768) {
      max-width: 95%;
      @include font("Proza_Libre", 110%, 115.52%);
    }

    @media screen and (max-width: $base-width620) {
      max-width: 100%;
      margin-top: 3%;
      @include font("Proza_Libre", 140%, 115.52%);
      text-align: center;
    }

    @media screen and (max-width: $base-width486) {
      @include font("Proza_Libre", 110%, 115.52%);
    }

    @media screen and (max-width: $base-width320) {
      margin-top: 12px;
      @include font("Source Serif Pro", 60%, 80.52%);
      text-align: center;
    }
  }

  &__quotes-title {
    @extend %margin-padding;
    @include font("Proza_Libre", 250%, 137.5%);

    @media screen and (max-width: $base-width2400) {
      @include font("Proza_Libre", 150%, 137.5%);
    }

    @media screen and (max-width: $base-width860) {
      margin-top: 1.5%;
      @include font("Proza_Libre", 140%, 137.5%);
    }

    @media screen and (max-width: $base-width768) {
      @include font("Proza_Libre", 120%, 120%);
    }

    @media screen and (max-width: $base-width620) {
      @include font("Proza_Libre", 160%, 120%);
      font-weight: 600;
    }

    @media screen and (max-width: $base-width486) {
      @include font("Proza_Libre", 130%, 120%);
      font-weight: 600;
    }

    @media screen and (max-width: $base-width320) {
      margin-top: 10px;
      @include font("Source Serif Pro", 80%, 80.52%);
      text-align: center;
      font-weight: 600;
    }
  }

  &__quotes-container {
    margin-top: 1%;
    height: 100%;
    width: 100%;

    @media screen and (max-width: $base-width860) {
      width: 90%;
    }
  }

  &__quotes {
    padding: 0;
    height: 100%;
    min-width: 100%;
    z-index: 2;
    @include flex(row, space-between, flex-start);

    @media screen and (max-width: $base-width860) {
      margin-top: 3%;
      @include flex(column, space-between, center);
      gap: 10%;
      min-height: 30vh;
    }

    @media screen and (max-width: $base-width620) {
      margin-top: 2.5%;
      @include flex(column, space-between, center);
      min-height: 350px;
    }

    @media screen and (max-width: $base-width320) {
      @include flex(column, space-between, center);
      min-height: 16vh;
    }
  }

  //&__gif {
  //  position: absolute;
  //  width: 15vw;
  //  height: 15vw;
  //  object-fit: contain;
  //  top: 65vh;
  //  left: 80vw;
  //  background: none;
  //
  //  @media screen and (max-width: $base-width1350) {
  //    top: 70vh;
  //  }
  //
  //  @media screen and (max-width: $base-width860) {
  //    display: none;
  //  }
  //}

  &__commercial-container {
    background-color: #fff;
    background-image: url("../../images/commertial__image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    right: 6%;
    bottom: 12%;
    position: absolute;
    width: 380px;
    height: 420px;
    cursor: pointer;

    @media screen and (max-width: $base-width1152) {
      position: absolute;
      width: 65%;
      height: 32%;
      margin-left: 30%;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 60%;
    }

    @media screen and (max-width: $base-width620) {
      position: absolute;
      width: 90%;
      height: 25%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 67%;
    }

    @media screen and (max-width: $base-width320) {
      position: absolute;
      width: 90%;
      height: 15%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 730px;
    }
  }
}
