@import "../vars";
%margin-padding {
  margin: 3% 0 0 0;
  padding: 0;
}
$base-width320: 320px;

.main-content {
  background: url("../../images/main__image-women.svg") -2% 450px/550px no-repeat;
  margin-left: 5%;
  width: 65%;
  height: 93%;
  font-family: Proza_Libre;

  @media screen and (max-width: 1350px) {
    background: url("../../images/main__image-women.svg") -1% 524px/450px no-repeat;
  }

  @media screen and (max-width: 1152px) {
    background: url("../../images/main__image-women.svg") 50% 87px/550px no-repeat;
  }

  @media screen and (max-width: 860px) {
    margin-left: 3%;
    min-width: 70%;
  }

  @media screen and (max-width: 768px) {
    max-width: 60%;
  }

  @media screen and (max-width: 620px) {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    background: url("../../images/main__image-women.svg") 40% 283px/445px no-repeat;
  }

  @media screen and (max-width: 486px) {
    background: url("../../images/main__image-women.svg") 40% 302px/390px no-repeat;
  }

  @media screen and (max-width: 384px) {
    background: url("../../images/main__image-women.svg") 40% 347px/330px no-repeat;
  }

  @media screen and (max-width: $base-width320) {
    background: url("../../images/main__image-women.svg") 20% 63%/70% no-repeat;
  }

  &__container {
    @include flex(column, space-between, flex-start);
    height: 38%;

    @media screen and (max-width: 620px) {
      @include flex(column, space-between, center);
    }
  }

  &__title {
    margin: 3% 0 0 0;
    padding: 0;
    @include font("Source Serif Pro", 220%, 80.52%);

    @media screen and (max-width: 1080px) {
      @include font("Source Serif Pro", 180%, 80.52%);
    }

    @media screen and (max-width: 860px) {
      @include font("Source Serif Pro", 160%, 80.52%);
    }

    @media screen and (max-width: 768px) {
      @include font("Source Serif Pro", 140%, 80.52%);
    }

    @media screen and (max-width: 620px) {
      margin-top: 4%;
      @include font("Source Serif Pro", 180%, 80.52%);
      font-weight: 600;
    }

    @media screen and (max-width: 486px) {
      @include font("Source Serif Pro", 140%, 80.52%);
      font-weight: 600;
    }

    @media screen and (max-width: $base-width320) {
      margin-top: 20px;
      @include font("Source Serif Pro", 80%, 80.52%);
      font-weight: 600;
    }

  }

  &__greetings {
    @extend %margin-padding;
    color: #4d4848;
    width: 100%;
    @include font("Proza_Libre", 163%, 115.52%);

    //@media screen and (max-width: 1350px) {
    //  @include font("Proza_Libre", 133%, 115.52%);
    //}

    @media screen and (max-width: 860px) {
      @include font("Proza_Libre", 125%, 115.52%);
    }

    @media screen and (max-width: 768px) {
      max-width: 95%;
      @include font("Proza_Libre", 110%, 115.52%);
    }

    @media screen and (max-width: 620px) {
      max-width: 100%;
      margin-top: 3%;
      @include font("Proza_Libre", 140%, 115.52%);
      text-align: center;
    }

    @media screen and (max-width: 486px) {
      @include font("Proza_Libre", 110%, 115.52%);
    }

    @media screen and (max-width: $base-width320) {
      margin-top: 12px;
      @include font("Source Serif Pro", 60%, 80.52%);
      text-align: center;
    }
  }

  &__quotes-title {
    @extend %margin-padding;
    @include font("Proza_Libre", 150%, 137.5%);

    @media screen and (max-width: 860px) {
      margin-top: 1.5%;
      @include font("Proza_Libre", 140%, 137.5%);
    }

    @media screen and (max-width: 768px) {
      @include font("Proza_Libre", 120%, 120%);
    }

    @media screen and (max-width: 620px) {
      @include font("Proza_Libre", 160%, 120%);
      font-weight: 600;
    }

    @media screen and (max-width: 486px) {
      @include font("Proza_Libre", 130%, 120%);
      font-weight: 600;
    }

    @media screen and (max-width: $base-width320) {
      margin-top: 10px;
      @include font("Source Serif Pro", 80%, 80.52%);
      text-align: center;
      font-weight: 600;
    }
  }

  &__quotes-container {
    margin-top: 1%;
    height: 100%;

    @media screen and (max-width: 860px) {
       width: 90%;
    }
  }

  &__quotes {
    padding: 0;
    height: 100%;
    @include flex(row, space-between, flex-start);

    @media screen and (max-width: 860px) {
      margin-top: 1.5%;
    }

    @media screen and (max-width: 860px) {
      @include flex(column, space-between, center);
      height: 90%;
    }

    @media screen and (max-width: 620px) {
      margin-top: 2.5%;
      @include flex(column, space-between, center);
      height: 100%;
    }

    @media screen and (max-width: $base-width320) {
      @include flex(column, space-between, center);
      height: 120%;
    }
  }

  &__quot {
    text-align: center;
    width: 25%;
    height: 25%;
    // padding-left: 1.6%;
    border: 3px solid #2ed7d9;
    border-radius: 10px;
    // list-style-type: none;
    @include font("Proza_Libre", 132%, 130%);
    text-decoration: none;
    color: black;
    // -webkit-line-clamp: 2;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (max-width: 860px) {
      @include font("Proza_Libre", 140%, 150%);
      width: 85%;
    }

    @media screen and (max-width: $base-width320) {
      width: 85%;
      height: 28%;
      @include font("Proza_Libre", 70%, 130%);
      border-radius: 5px;
    }
  }

  &__commercial-container {
    background-color: #fff;
    background-image: url("../../images/commertial__image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    right: 6%;
    bottom: 12%;
    position: absolute;
    width: 380px;
    height: 420px;
    cursor: pointer;

    //@media screen and (max-width: 1280px) {
    //  bottom: 8%;
    //  width: 23%;
    //  height: 37%;
    //}


    @media screen and (max-width: 1152px) {
      position: absolute;
      width: 65%;
      height: 32%;
      margin-left: 30%;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 60%;
    }

    @media screen and (max-width: 620px) {
      position: absolute;
      width: 90%;
      height: 25%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 67%;
    }

    @media screen and (max-width: $base-width320) {
      position: absolute;
      width: 90%;
      height: 15%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 730px;
    }
  }
}
